a {
  color: var( --black );
  text-decoration: none !important;
  transition: color 500ms;

  &:hover,
  &:focus,
  &:active {
    color: var( --black );
  }

  &.dark {
    color: var( --white );

    &:hover,
    &:focus,
    &:active {
      color: var( --white );
    }
  }
}

