*, html, body, h1, h2, h3 h4, h5, h6 {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 26px;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: .5rem;
}

h1 {
  font-size: 23px;
  line-height: 37px;
  font-weight: 900;
}

h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 900;
}

@include sm-and-up {
  *, html, body, h5, h6 {
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
  }

  h1 {
    font-size: calc( ( 23px + 42px ) / 2 );
    line-height: calc( ( 37px + 65px ) / 2 );
    font-weight: 500;
  }

  h2 { font-weight: 500; }

  h3, h4 { font-weight: 300; }
}

@include md-and-up {
  *, html, body, h3, h4, h5, h6 {
    font-size: 18px;
    line-height: 31px;
  }

  h1 {
    font-size: 37px;
    line-height: 58px;
  }

  h2 {
    font-size: 29px;
    line-height: 47px;
  }

  h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 23px;
    line-height: 38px;
  }
}

small, .small {
  color: inherit;
  font-size: 12px;
  line-height: 22px;

  b,
  i {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.bold { font-weight: bold; }
.normal { font-weight: normal; }
.light { font-weight: lighter; }
.italic { font-style: italic; }

