/* You can add global styles to this file, and also import other style files */
@import "./scss/base";
@import "./scss/responsive";
@import "./scss/font";
@import "./scss/variables";
@import "./scss/colors";
// @import "./scss/animations";

@import "./scss/buttons";

.separator {
  height: 200px;
  width: 100%;

  &.sm {
    height: 60px;
  }
}

