@import "~/scss/responsive";
@import "~/scss/variables";

$black: #0D0D0D;

.navbar {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 520px;
  color: var( --white );
  display: block;
  overflow: hidden;
  background-image: url( ../../assets/back_sm.jpg );
  @extend %bg-center;
  z-index: 0;
  transition: all 500ms;

  @include xs-and-down {
    min-height: 450px;
  }

  @include md-and-up {
    height: 100%;
    max-width: 360px;
    background-image: url( ../../assets/back_md.jpg );
  }

  @include lg-and-up {
    background-image: url( ../../assets/back_lg.jpg );
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( to top, $black, rgba( $black, 0.2 ) );
    transition: all 500ms;

    @include md-and-up {
      background: linear-gradient( to left, $black, rgba( $black, 0.2 ) );
    }
  }

  * {
    position: relative;
    z-index: 2;
    text-align: center;
    text-shadow: -1px 0px 10px var( --black );
  }

  .photo {
    width: 40vw;
    height: 40vw;
    max-width: 200px;
    max-height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url( ../../assets/profile-2.jpg );
    border-radius: 100%;
    margin: 0 auto 10px;
    box-shadow: 2px 2px 15px -5px var( --black );
    pointer-events: none;
  }

  .title {
    margin-bottom: 10px;
  }

  .data {
    margin-top: 24px;

    * {
      color: var( --white );
      font-weight: bold;
      margin: 0 0.5rem 1rem;
    }
  }

  .social-row {
    margin-top: 10px;

    .btn-social {
      color: var( --white );
      margin: 0 1rem;

      i {
        font-size: 1.5rem;
      }
    }
  }

  .extra-area {
    @extend %flex-center;
    flex-direction: column;
    width: 100%;

    .toggle-theme {
      width:   28px;
      height:  28px;
      border: 2px solid var( --gray );
      border-radius: 50%;
      margin: 10px auto 0;
      background-color: var( --black );
      transition: background-color 500ms;
    }
  }

  .divider {
    height: 24px;
    width: 100%;

    @include md-and-up {
      height: 40px;
    }
  }

  &.dark {
    .extra-area {
      .toggle-theme {
        background-color: var( --white );
      }
    }
  }
}
