<div class="content navbar" :class="{ 'dark': isDark }">

  <div class="inner">
    <div class="divider"></div>

    <div class="photo"></div>

    <h1 class="name">
      Adrián Sánchez González
    </h1>

    <h2 class="title">
      Software Engineer
    </h2>

    <div class="data">
      <a class="mail" :href="'mailto:' + EMAIL">
        <i class="fas fa-envelope mr-2"></i>
        {{ EMAIL }}
      </a>

      <p class="location">
      <i class="fas fa-map-marker mr-2"></i>
      Guadalajara Jal. Mex.
      </p>

      <!-- <a class="phone" :href="phone" :class="{ 'dark': theme.isDark }" v-if="profile.phone"> -->
      <!-- <i class="fas fa-phone mr-2"></i> -->
      <!-- {{ profile.phone }} -->
      <!-- </a> -->
    </div>

    <div class="social-row">
      <a class="btn btn-social gitlab mr-2"
         :href="GIT_URL"
         target="_blank">
        <i class="fab fa-gitlab"></i>
      </a>

      <a class="btn btn-social linkedin ml-2"
         :href="LINKEDIN_URL"
         target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>

    <div class="extra-area">
      <button class="toggle-theme" @click="toggleTheme()"></button>
    </div>

    <div class="divider"></div>
  </div>

</div>
