@import "~/scss/variables.scss";
@import "~/scss/colors.scss";
@import "~/scss/responsive.scss";

.contact-section {
  min-height: 600px;
  position: relative;
  background-color: $black;
  padding: $areaPadding 0 $areaPadding/2;

  @include sm-and-up {
    padding-bottom: $areaPadding;
  }

  .shape {
    position: absolute;
    top: -1px;
    right: 0;
  }

  .contact-card {
    position: relative;
    width: 100%;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: $cardPadding $cardPadding/2;
    background-color: $black_light;
    z-index: 2;

    @include sm-and-up {
      padding: $cardPadding;
      border-radius: $cardRadius;
    }

    .title {
      text-align: center;
      color: white;
    }

    .desc {
      color: white;
      text-align: center;
      max-width: 520px;
      margin-bottom: $cardPadding;
    }

    .contact-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;

      .form-control {
        color: white;
        background: $gray_input;
        margin: 0 0 $inputMargin;
        border: 0;
        border-bottom: 1px solid $gray_input;
        border-radius: $defRadius;
        transition: all 500ms;

        &.textarea {
          max-height: 400px;
          border-radius: $defRadius;

          @include md-and-up {
            min-height: 100px;
          }
        }

        &::placeholder {
          color: $gray;
        }

        &:focus {
          box-shadow: 0 0 0 2px rgba( $gray_light, 0.25 );
        }

        &.empty {
          box-shadow: 0 0 0 2px $red;

          &::after {
            content: 'Este campo no puede estar vacio';
          }
        }

      }

      label {
        color: white;
        transition: color 500ms;
      }

      .send-btn {
        margin: $smallSeparator auto 0;
      }

      .mail-btn {
        color: $red;
        text-decoration: underline;
      }

      .spinner {
        margin: $smallSeparator auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .error-area {
    margin-top: 40px;
    text-align: center;
  }
}

