<div id="contact" class="contact-section">
  <div class="shape">
    <!-- <img src="~/assets/img/divider_2.svg" alt=""> -->
  </div>

  <div class="contact-card">
    <h1 class="title">
      {{ $t('contact.title') }}
    </h1>

    <p class="desc">
      {{ $t('contact.text') }}
    </p>

    <form id="contactForm"
      class="contact-form form-group"
      @submit.prevent="sendContact()">

      <label class="small-label" for="name">
        {{ $t('contact.placeholders.name') }}
      </label>
      <VInput type="text"
              name="nombre"
              maxlength="120"
              required="true"
              placeholder="Arthur Dent"
              v-model="contactForm.name" />

      <label class="small-label" for="email">
        {{ $t('contact.placeholders.email') }}
      </label>
      <VInput type="email"
              name="correo"
              maxlength="180"
              required="true"
              placeholder="arthur.dent@vogons.com"
              v-model="contactForm.email" />

      <label class="small-label" for="message">
        {{ $t('contact.placeholders.message') }}
      </label>
      <textarea class="form-control textarea"
                maxlength="2000"
                :placeholder="$t('contact.placeholders.message_desc')"
                v-model="contactForm.message"
                required>
      </textarea>

      <input class="noinput" type="text" value="" v-model="contactForm.validation">

      <button class="send-btn red-bg" type="submit" v-if="!sending">
        {{ $t('contact.placeholders.send') }}
      </button>

      <div class="spinner" v-if="sending">
        <div class="spinner-border spinner-border-sm text-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="error-area text-white" v-if="contactError">
        <h2 class="text-white">Oops!</h2>
        {{ $t('contact.error') }}
        <a class="mail-btn"
           :href="errorMail + contactForm.message">
          contacto@hellcoders.com.mx
        </a>
      </div>
    </form>
  </div>
</div>
