<template src="./default/default.html" />
<style src="./default/default.scss" lang="scss"></style>
<script>
import { Navbar } from '~/components/components'

export default {
  components: {
    Navbar
  },

  data () {
    return {
    }
  },

  methods: {
  }
}
</script>
