<div class="content home" :class="{ 'dark': isDark }">
  <div class="content">

    <template v-for="item in projects">
      <a class="project-card" v-if="item.link" :href="item.link" target="_blank">
        <div class="underdev" v-if="item.status == 2">
          <div class="tag">
            Under Development
          </div>

          <div class="indicator"></div>
        </div>

        <div class="cover" :style="{ 'background-image': 'url('+ BASE_IMG + item.image +'.jpg)' }"></div>

        <div class="text">
          <h2 class="title">
            {{ item.title }}
          </h2>

          <p class="desc">
          {{ item.desc }}
          </p>

          <div class="tech">
            <i v-for="tech in item.techs"
              :class="tech">
            </i>
          </div>
        </div>
      </a>

      <div class="project-card" v-else>
        <div class="underdev" v-if="item.status == 2">
          <div class="tag">
            Under Development
          </div>

          <div class="indicator"></div>
        </div>

        <div class="cover" :style="{ 'background-image': 'url('+ BASE_IMG + item.image +'.jpg)' }"></div>

        <div class="text">
          <h2 class="title">
            {{ item.title }}
          </h2>

          <p class="desc">
          {{ item.desc }}
          </p>

          <div class="tech">
            <i v-for="tech in item.techs"
               :class="tech">
            </i>
          </div>
        </div>
      </div>
    </template>

    <div class="divider"></div>
  </div>
</div>
