@import "~/scss/responsive";
@import "~/scss/colors";
@import "~/scss/variables";

.home {
  @extend %flex-center;
  flex-direction: column;
  width: 100%;
  min-height: 350px;
  background-color: var( --gray-light );
  transition: background-color 500ms;

  @include md-and-up {
    min-height: 100%;
    max-height: 100vh;
    overflow: hidden;
  }

  .container,
  .content {
    @extend %flex-center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 40px 14px 0;

    @include md-and-up {
      padding: 40px 20px 0;
    }
  }

  .project-card {
    position: relative;
    width: 100%;
    max-width: 400px;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 4px 4px 30px -15px var( --gray );
    margin: 20px auto;
    background-color: var( --white );
    transition: all 500ms;

    // @include md-and-up {
      // height: 490px;
    // }

    @include xl-and-up {
      margin: 20px;
    }

    .underdev {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 10px;
      border-radius: 0.3rem;
      background-color: rgba( white, 0.8 );
      overflow: hidden;
      width: 174px;
      transition: all 500ms;

      @include md-and-up {
        width: 34px;

        &:hover {
          width: 174px;
        }
      }

      .tag {
        width: 150px;
        position: absolute;
        color: var( --green );
        font-size: 16px;
        font-weight: bold;
        line-height: 0;
        margin-left: 24px;
      }

      .indicator {
        height: 14px;
        width: 14px;
        margin-top: 2px;
        border-radius: 100%;
        background-color: var( --green );
      }
    }

    .cover {
      width: 100%;
      height: 250px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @include xs-and-down {
        height: 200px;
      }
    }

    .text {
      text-align: center;
      padding: 1rem 2rem;

      .desc {
        // height: 100px;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-bottom: 24px;
      }

      .tech {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        * {
          font-size: 25px;
        }
      }
    }
  }

  .divider {
    height: 40px;
    width: 100%;
  }

  &.dark {
    background-color: var( --black );

    .project-card {
      color: var( --white );
      background-color: var( --black-alt );
      box-shadow: unset;

      .underdev {
        $black: map-get( $map: $colors, $key: 'black' );
        background-color: rgba( $black, 0.8 );
      }
    }
  }
}
