@import "~/scss/responsive.scss";

.layout {
  width:   100vw;
  height:  100vh;
  display: flex;
  flex-direction: column;

  @include md-and-up {
    flex-direction: row;
  }

  .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

}

